body {
   background: linear-gradient(90deg, rgba(2,0,36,1) 16%, rgba(89,9,121,1) 72%, rgba(48,71,167,1) 100%, rgba(0,119,255,1) 100%);
   font-family: 'Roboto', sans-serif;
}

.welcome-page {
  display: none;
}

.game-page {
  display: grid;
  grid-template-rows: auto;
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: 700;
}

.score-board {
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.player {
  border: 1px solid black;
  margin: 0 30px 30px 30px;
  padding: 10px 20px 0px 20px;
  text-align: center;
  background-color: #FFF;
}

.text {
  margin-bottom: 10px;
}

.player-text {
  font-size: 20px;
  font-weight: 700;
}

.score-text, .total-text {
  font-size: 14px;
   font-weight: 700;
}

span {
  color: #08e8bc;
  font-size: 25px;
}

.quit-and-new-game-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.quit-button {
  margin-bottom: 20px;
}

.quit-button,
.new-game-button {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  color: #000000;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #d6d6d6 0%,
    #424142);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#d6d6d6),
    to(#424142));
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  -webkit-box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}


.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 5px solid black;
  width: 80px;
  height: 80px;
  background-color: white; 
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10,.box11, .box12, .box25, .box26, .box27, .box28, .box29, .box30, .box31, .box32, .box33, .box34, .box35, .box36 {
  background-image: url("box-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.category {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  margin-bottom: 70px;
  background-color: #B6BDC0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.row {
  display: flex;
}

.letters-and-game-buttons, .player-prompting {
  display: flex;
  margin-top: 80px;
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  justify-content: center;
  font-size: 20px;
  padding: 10px 0 10px 0;
  background-color: #B6BDC0;
}

.letter-bank {
  margin-right: 30px;
}

.letters {
  font-weight: 700;
}

.game-button {
  margin-right: 20px;
  font-size: 15px;

}



