/*@font-face {
 font-family: ‘Fortune’;
 src: url(‘fortune-font/wheel-font.ttf’)format(‘truetype’);
}*/

body {
   background-image: url("christopher-burns-286419-unsplash.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   font-family: 'Roboto', sans-serif;
}

.start-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
   
    justify-content: center;
}


/*window to start game*/
.welcome-page {
  border: 5px solid black;
  background-color: #000;
  width: 700px;
  height: 450px;
  font-size: 20px;
 /* bottom: 137px;
  right: 400px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*position: absolute;*/
  color: #FFF;
  border-radius: 10%;
}

h1 {
  font-size: 65px;
  font-family: 'KoHo', sans-serif;
  margin-bottom: 10px;  
  font-weight: 700;
  color: purple;
  text-shadow:
       3px 3px 8px #08e8bc, 
       3px 3px 8px #08e8bc, 
       -1px -1px 0 #08e8bc, 
       -1px 2px 2px #08e8bc, 
       2px 2px 2px #08e8bc
}

input {
  width: 300px;
  height: 20px;
}

.enter-name-label {
  text-align: center;
  margin: 15px 0 15px 0;
}

.start-button {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 700;
  padding: 10px 20px;
  color: purple;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #d6d6d6 0%,
    #424142);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#d6d6d6),
    to(#424142));
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  -webkit-box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}

/*main game page*/
.game-page {
  display: grid;
  grid-template-rows: auto;
}


/*current round number label*/
h2 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


/*player score boards*/
.score-board {
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.player {
  border: 1px solid black;
  margin: 0 30px 30px 30px;
  padding: 10px 20px 0px 20px;
  text-align: center;
  background-color: #8ea0c2;
}

.text {
  margin-bottom: 10px;
  color: white;
   text-shadow:
       3px 3px 8px #000, 
       3px 3px 8px #000, 
       -1px -1px 0 #000, 
       -1px 2px 2px #000, 
       2px 2px 2px #000
}

.player-text {
  font-size: 20px;
  font-weight: 700;

}


.score-text, .total-text {
  font-size: 14px;
  font-weight: 700;
}

span {
  color: #08e8bc;
  font-size: 25px;
}


/*quit game and new game buttons*/
.quit-and-new-game-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.quit-button {
  margin-bottom: 20px;
}

.quit-button,
.new-game-button, .game-button {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  color: purple;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #d6d6d6 0%,
    #424142);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#d6d6d6),
    to(#424142));
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  -webkit-box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  box-shadow:
    0px 3px 11px rgba(0,0,0,0.5),
    inset 0px 0px 1px rgba(130,127,130,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}

/*game board*/
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.box {
  border: 5px solid black;
  width: 80px;
  height: 80px;
  background-color: white; 
}

.box {
  background-image: url("box-background.png");
  /*background-color: green;*/
  background-repeat: no-repeat;
  background-size: cover;
}

/*display for puzzle hint*/
.category {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  margin-bottom: 70px;
  background-color: #8ea0c2;
  border-radius: 20%;
  color: white;
   text-shadow:
       3px 3px 8px #000, 
       3px 3px 8px #000, 
       -1px -1px 0 #000, 
       -1px 2px 2px #000, 
       2px 2px 2px #000
}


/*display area for letters, game buttons 
and player prompting*/
.letters-and-game-buttons, .player-prompting {
  display: flex;
  margin-top: 80px;
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  justify-content: center;
  padding: 10px 0 10px 0;
  background-color: #8ea0c2;
}

.letter-bank {
  display: flex;
  margin-right: 10px;
  padding-top: 8px;
}

.letters {
  font-weight: 700;
  font-size: 23px;
  display: flex;
  margin: 5px;
  color: white;
  text-shadow:
      3px 3px 8px #000, 
      3px 3px 8px #000, 
      -1px -1px 0 #000, 
      -1px 2px 2px #000, 
      2px 2px 2px #000;
  cursor: pointer;
}

.letters:hover {
  color: purple;
}

.box {
  font-size: 80px;
  color: black;
  text-align: center;
}

.game-button {
  margin-right: 5px;
  font-size: 15px;
  color: purple;
}

button:hover {
  filter: brightness(65%);
  color: purple;
}

.player-prompt {
  color: purple;
  font-size: 17px;
}

.game-prompt {
   color: white;
   display: none;
   text-shadow:
       3px 3px 8px #000, 
       3px 3px 8px #000, 
       -1px -1px 0 #000, 
       -1px 2px 2px #000, 
       2px 2px 2px #000
}

/*adding and hiding classes*/


.show {
  display: inline-block;
}

.change-opacity {
  opacity: 0.1;
}

.vowels {
  border: 1px solid black;
  background-color: #8ea0c2;;
  display: none;
}

.showVowels {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  right: 330px;
 /* height: 50px;*/
}

.hide {
  display: none;
}
.solve-puzzle-container {
  border: 1px solid black;
  background-color: #8ea0c2;;
  display: none;
}


.show-solve-puzzle-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  height: 120px;
  bottom: 100px;
  right: 150px;
  justify-content: space-around;
  padding: 1em;
}

.addWhite {
  background-color: white;
  background-image: none;
}

.solve-puzzle-input {
  height: 35px;
  font-size: 20px;
}

/*animations*/
.animatePlayerName {
  color: purple;
  animation: blink 1.3s linear infinite;
}


@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.animateRoundNumber {
  animation-duration: 1.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.animateCategorydisplay {
  animation-name: spin;
  animation-duration: 1.3s;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
